

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --backgroundtop: #e0f3ff;
    --background: #ffffff;
    --cardbg: #d9e8f5;
    --text-primary:  #6b7b8c;
    --text-secondary: #020e24;
    --border:#000000;
    --toggle:#c2d7e6;

  }
  
  [data-theme='dark'] {
    --backgroundtop: #04142f;
    --background: #020e24;
    --cardbg: #0b2c33;
    --text-secondary: #8e05c2;
    --text-primary: #a1b2bf;
    --text-secondary:#ffffff;
    --border:#ffffff;
    --toggle:linear-gradient(to right, #004080, #397365);
  }
  
  * {
    box-sizing: border-box;
  }
  
  
  
  .app {
    width:100%;
    background-color: var(--background);
    color: var(--text-primary);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:14px;
    transition: all .5s;
    }

    .bordercolor{
        border-bottom: 1px solid var(--border);
    }

    .cardbg{
        background-color: var(--cardbg);
    }

    .followertextcolor{
      color: var(--text-secondary);
  }

    .topbg{
      width:100%;
      height:300px;
      background-color: var(--backgroundtop);
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
    }

    .gridcontainer{ 
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 16px; /* Adjust the gap as needed */
    }
